.contFour{
    border-radius: 25px;
    max-width: 1440px;
    height: 1256px;
    margin: 0 auto;
    background: #EAF2F5;
    .contFour__title{
        font-family: 'Gilroy SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 46px;
        line-height: 46px;
        padding-top: 56px;
        margin: 0 auto;
        text-align: center;
        color: #22253B;        
    }
    .contFour__text{
        width: max-content;
        height: 70px;
        margin: 0 auto;
        padding-top: 26px;
        
    }
    .contFour__kibir{
        width: 762px;
        height: 442px;
        margin: 0 auto;
        padding-top: 28px;
        .contFour__kibir_img{
            width: 762px;
            height: 442px;
        }
        .contFour__kibir_btn{
            position: absolute;
            width: 80px;
            height: 80px;
            cursor: pointer;
            background: #F15525;
            border-radius: 82px;
            border: none;
            margin-top: 155px;
            margin-left: -410px;
            transition: 150ms;
        }   .contFour__kibir_btn:hover{
                transition: 0.8s ease;
                box-shadow: 0px 0px 70px 22px rgba(251, 95, 48, 0.90);
            }
        .contFour__kibir_txt{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 96.69%;
            text-align: center;
            letter-spacing: -0.03em;
            color: #FFFFFF;     
            position: absolute;  
            margin-top: -175px;     
            margin-left: 315px;
        }
    }
    .contFour__wiper{
        width: 1160px;
        height: 349px;
        margin: 0 auto;
        margin-top: 30px;
        background: #FFFFFF;
        box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contFour__block{
            width: 385px;
            height: 349px;
            .contFour__block__number{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 77px;
                line-height: 30px;    
                color: #38BFF2;
                padding-top: 56px;
                margin-left: 53px;
            }
            .contFour__block__title{
                width: max-content;
                height: max-content;
                margin-top: 20px;
                font-family: 'Gilroy SemiBold';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                color: #22253B;
                margin-left: 53px;
            }
            .contFour__block__text{
                width: 280px;
                height: max-content;
                margin-top: 19px;
                margin-left: 53px;
            }
        }  
        hr{
            background-color: #EAF2F5;
            width: 1px;
            height: 259px;
            border: 1px solid #EAF2F5;
        }      
    }
    .contFour__btn_block{
        width: 538px;
        height: 93px;
        display: flex;  
        align-items: center;
        margin: 0 auto;
        margin-top: 26px;
        background: #FFFFFF;
        border-radius: 110px;        
        .contFour__btn{
            margin-left: 14px;
            cursor: pointer;
            width: 249px;
            height: 70px;
            background: #F15525;
            border: none;
            border-radius: 82px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 96.69%;
            letter-spacing: -0.03em;
            color: #FFFFFF;
            transition: 200ms;
            .contFour__btn_img{
                margin-left: 5px;
            }
        }   .contFour__btn:hover{transition: 0.5s ease; background-color: #38BFF2;}
        .contFour__btn_text{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            width: 214px;
            height: 54px;
            color: #22253B;
            margin-left: 24px;
        }
    }
}